@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: fit-content;
}

/* Main Styling */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

/* Logo */

.logo {
    width: 15%;
    margin-top: 4rem;
}

/* Title */

.title {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6rem;
    margin-top: 1.6rem;
    color: var(--Gray);
}

.title span {
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}

/* Description */

.description {
    font-size: 0.6rem;
    color: var(--Very-Dark-Blue);
    font-weight: 300;
    margin-top: 0.75rem;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.6rem;
    width: 80%;
}

#email {
    width: 100%;
    border: 1px solid var(--Pale-Blue);
    border-radius: 2rem;
    padding: 0.5rem 1.6rem;
}

#email::placeholder {
    font-size: 0.6rem;
    font-weight: 300;
    font-family: 'Libre Franklin', sans-serif;
    color: var(--Pale-Blue);
}

.error {
    border: 1px solid var(--Light-Red) !important;
}

#error-message {
    font-size: 0.5rem;
    font-style: italic;
    color: var(--Light-Red);
    text-align: center;
    margin-bottom: 0.5rem;
    display: none;
}

#submit {
    width: 100%;
    border: none;
    border-radius: 2rem;
    background-color: var(--Blue);
    font-size: 0.6rem;
    font-weight: 700;
    padding: 0.5rem 0;
    color: white;
    box-shadow: 0 5px 10px hsla(223, 87%, 63%, 0.2);
    cursor: pointer;
}

#submit:hover {
    filter: opacity(0.8);
}

/* Illustration */

.illustration {
    width: 90%;
    margin-top: 3.6rem;
    max-width: 640px;
}

/* Social Media */

.socials-container {
    display: flex;
    gap: 0.6rem;
    margin-top: 6rem;
}

.fa-brands {
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 5.5%;
    border: 1px solid var(--Pale-Blue);
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    color: var(--Blue);
}

.fa-brands:hover {
    background-color: var(--Blue);
    color: white;
}

/* Copyright */

.copyright {
    font-size: 0.5rem;
    font-weight: 300;
    color: var(--Gray);
    margin-top: 1.35rem;
}

/* Media Query */

@media only screen and (min-width: 768px) {
    .logo {
        width: 6%;
    }

    .title {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-top: 2rem;
    }

    .description {
        font-size: 1rem;
        margin-top: 0.8rem;
    }

    form {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        margin-top: 2rem;
        width: 44%;
    }

    .input-and-error {
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    #email {

        padding: 0.9rem 1.5rem;
    }

    #email::placeholder {
        font-size: 0.8rem;
    }
    
    .error {
        border: 1px solid var(--Light-Red);
    }
    
    .error-message {
        font-size: 0.6rem;
    }
    
    #submit {
        width: 40%;
        font-size: 0.8rem;
        padding: 0.9rem 0;
    }

    .illustration {
        width: 39%%;
        margin-top: 4.7rem;
    }

    .socials-container {
        margin-top: 3.6rem;
    }

    .copyright {
        font-size: 0.6rem;
        margin-top: 1.25rem;
    }
}